.header {
  .war-link {
    margin-left: 1rem;
  }
}

.lights-out-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.checkbox-container {
  width: 100%;
  height: 100%;
}
