.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-spacer {
  width: var(--user-menu-button-width);
  height: var(--user-menu-button-width);
}

.main-content {
  flex-grow: 1;
}

.child-header {
  flex-grow: 1;

  /*
  When long-pressing a checkbox IOS starts selecting text in the header.
  By preventing selecting text this sorta fixes that issue.
   */
  -ms-user-select: none;
  user-select: none;
}
