.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.header {
  flex: 0 0 auto; /* Don't grow, don't shrink, auto height */
  padding: 16px;
  text-align: center;
}

.scroll-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; // Centers items horizontally

}

.checkbox-grid {
  display: grid;
}

.scroll-item {
  overflow-x: auto;
  display: flex;
  justify-content: center; // Centers the grid horizontally
  width: 100%;


  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 4px;
  }

  &.width-32 {
    /* page-size (4096) / page-width (32) * item-size (24) */
    height: 3072px;
  }

  &.width-64 {
    /* page-size (4096) / page-width (64) * item-size (24) */
    height: 1536px;
  }

  &.width-128 {
    /* page-size (4096) / page-width (128) * item-size (24) */
    height: 768px;
  }
}

span.help-link {
  display: inline-flex;  /* for better centering */
  align-items: center;   /* vertical center */
  justify-content: center; /* horizontal center */
  width: 24px;          /* fixed width */
  height: 24px;         /* fixed height - same as width for circle */
  border: 2px solid;
  border-radius: 50%;
  margin-left: 1rem;
  margin-top: -10px;
}

.help-dialog-content {
  text-align: left;
}
