<div class="layout-container">
  <header class="header">
    Width of grid:
    <select [(ngModel)]="selectedPageWidth">
      @for (width of pageWidths; track width) {
        <option value="{{width}}">{{ width }}</option>
      }
    </select>
  </header>

  <cdk-virtual-scroll-viewport [itemSize]="itemSize()" class="scroll-container" (scrolledIndexChange)="onScroll()">
    <div *cdkVirtualFor="let item of checkBoxPages()" class="scroll-item width-{{selectedPageWidth()}}">
      <div class="checkbox-grid" [style.grid-template-columns]="gridColumns()">
        @for (isChecked of item.state(); track $index) {
          <input type="checkbox" name="{{item.index + '-' + $index}}" [checked]="isChecked" (change)="whenCheckboxChanged(item.index, $index, $event)">
        }
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>


