.header {
  .war-link {
    margin-left: 1rem;
  }
}

@media (min-width: 600px) {
  .links {
    order: 1;
  }
}

.help-dialog-content {
  text-align: left;
}

.checkbox-container {
  width: 100%;
  height: 100%;
}
