<app-tabs>
  <app-tab #tab1 title="Checkers">
    @if (tab1.active()) {
      <app-highscore-list name="Checked"></app-highscore-list>
    }
  </app-tab>

  <app-tab #tab2 title="Uncheckers">
    @if (tab2.active()) {
      <app-highscore-list name="Unchecked"></app-highscore-list>
    }
  </app-tab>

  <app-tab #tab3 title="Gold diggers">
    @if (tab3.active()) {
      <app-highscore-list name="GoldDigger"></app-highscore-list>
    }
  </app-tab>

  <app-tab #tab4 title="Minesweeper">
    @if (tab4.active()) {
      <app-highscore-list name="Minesweeper"></app-highscore-list>
    }
  </app-tab>

  <app-tab #tab5 title="Lucky start">
    @if (tab5.active()) {
      <app-highscore-list name="MinesweeperLuckyStart"></app-highscore-list>
    }
  </app-tab>

  <app-tab #tab6 title="One-click sweepers">
    @if (tab6.active()) {
      <app-highscore-list name="MinesweeperOneClickSweep">
        <ng-template #scoreTemplate let-score>
          {{ score.score | date: 'y-MM-dd' }}
        </ng-template>
      </app-highscore-list>
    }
  </app-tab>
</app-tabs>
