.highscore-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  td {
    padding: 0.5rem;
    border-bottom: 1px solid #7e7e7e;

    &:first-child {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:last-child {
      white-space: nowrap;
      text-align: right;
      padding-left: 1rem;
    }
  }
}

/* Undo tab-padding */
.top10-container {
  margin: 0 -1rem;
}
