<ng-template #headerTemplate>
  <div class="header">
    <div class="flex-container">
      <div>
        Players: {{ numberOfPlayers() }}
        <input type="checkbox" checked style="width: 16px; height: 16px;">: {{ war()?.numberOfChecked ?? '...' }}
        <input type="checkbox" style="width: 16px; height: 16px;"> {{ war()?.numberOfUnchecked ?? '...' }}
      </div>

      <div class="links">
        <a href="javascript:void(0)" (click)="helpDialog.showModal()"><span class="help-link">?</span></a>
        <a routerLink="/Checkboxes" class="war-link">Back</a>
      </div>

      <div>
        @if (!war()?.startUtc) {
          A war is brewing! Make the first strike!
        } @else if (!war()?.endUtc) {
          The war is active! Good luck soldier.
        } @else {
          This war has ended. {{ war()?.winningTeam == 0 ? 'Checkers' : 'Uncheckers' }} won!
          <a href="javascript:void(0)" (click)="gotoCurrentWar()">Join the next war</a>
        }
      </div>
    </div>
  </div>
</ng-template>

<div class="checkbox-container">
  @if (war(); as war) {
    <app-checkbox-grid [gridWidth]="war.battlefieldWidth" [maxSize]="war.battlefieldWidth * war.battlefieldWidth"></app-checkbox-grid>
  }
</div>

<dialog #helpDialog id="help-dialog" (click)="whenDialogClick($event, helpDialog)">
  <div class="help-dialog-content">
    <h3>This is WAR!</h3>
    <p>
      The goal is to check or uncheck all checkboxes. Just pick a side and start fighting.
    </p>
  </div>
</dialog>
