.scroll-container {
  width: 100%;
  height: 100%;
  align-items: center; // Centers items horizontally
}

.checkbox-grid {
  display: grid;
}

.scroll-item {
  overflow-x: auto;
  display: flex;
  justify-content: center; // Centers the grid horizontally
  width: 100%;


  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 4px;
  }

  &.width-32 {
    /* page-size (4096) / page-width (32) * item-size (24) */
    height: 3072px;
  }

  &.width-64 {
    /* page-size (4096) / page-width (64) * item-size (24) */
    height: 1536px;
  }

  &.width-128 {
    /* page-size (4096) / page-width (128) * item-size (24) */
    height: 768px;
  }
}

input.gold-spot {
  box-shadow: 0 0 4px 4px gold;
  background-color: gold;

  /* Reset appearance for all browsers */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Box shadow for all browsers */
  -webkit-box-shadow: 0 0 4px 4px gold;
  -moz-box-shadow: 0 0 4px 4px gold;
  border: 2px solid gold;
  border-radius: 3px;
}

input.gold-spot:checked {
  background-color: gold;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z' stroke='%23000' stroke-width='2' fill='%23000'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
}
