@if (checkBoxPages()) {
  <p-virtualscroller
    [items]="checkBoxPages()"
    [itemSize]="maxSize() ? 0 : itemSize()"
    styleClass="scroll-container"
    (onScroll)="onScroll()"
    [trackBy]="trackCheckboxPage"
    [numToleratedItems]="1"
    scrollHeight="100%"
  >
    <ng-template #item let-item let-options="options">
      <div class="scroll-item width-{{ maxSize() ? 0 : gridWidth() }}"
           [style.grid-template-columns]="gridColumns()"
           (change)="whenCheckboxChanged($event)"
           (appContextMenu)="whenContextMenu($event)"
           [attr.page-id]="item.pageId"
      >
        @for (isChecked of item.state() | limit: maxSize(); track $index) {
          <input type="checkbox"
                 [checked]="isChecked"
                 [class]="getCheckboxClasses($index, item.goldSpots(), item.checkboxStyles())"
                 [attr.data-index]="$index"
          >
        }
      </div>
    </ng-template>
  </p-virtualscroller>
}
