:root {
  color-scheme: light dark;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: Inter var, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;;
  color: var(--text-color);
}

input, select {
  font-size: 16px;
}

span.help-link {
  display: inline-flex;  /* for better centering */
  align-items: center;   /* vertical center */
  justify-content: center; /* horizontal center */
  width: 24px;          /* fixed width */
  height: 24px;         /* fixed height - same as width for circle */
  border: 2px solid;
  border-radius: 50%;
  margin-left: 1rem;
  margin-top: -10px;
}
