<ng-template #headerTemplate>
  <div class="header">
    <h1 class="for-seo-only">Play minesweeper</h1>
    <div class="flex-container">
      <div>
        <a href="javascript:void(0)" (click)="helpDialogOpen.set(true)"><span class="help-link">?</span></a>
      </div>

      @if (currentMinesweeperId()) {
        @if (minesweeper(); as minesweeper) {
          @if (!minesweeper.StartUtc) {
            <div>Click to start the game</div>
          } @else {
            <div>
              <app-timer [startDate]="minesweeper.StartUtc" [endDate]="minesweeper.EndUtc"></app-timer>
            </div>

            @if (minesweeper.EndUtc) {
              @if (minesweeper.Score) {
                <div>You won! Score: {{ minesweeper.Score }}</div>
              } @else {
                <div>Game over!</div>
              }
            }
          }
        }
      } @else {
        <div>
          Create a new game to start playing
        </div>
      }
    </div>
  </div>
</ng-template>

<div class="minesweeper-container">
  @if (!currentMinesweeperId()) {
    <div class="new-game-container">
      <table>
        <tbody>
        <tr>
          <td>Game-size:</td>
          <td>
            <p-select [options]="widthOptions" [(ngModel)]="selectedWidth">
              <ng-template #item let-item>
                {{ item }} x {{ item }}
              </ng-template>
              <ng-template #selectedItem let-item>
                {{ item }} x {{ item }}
              </ng-template>
            </p-select>
          </td>
        </tr>

        <tr>
          <td>Number of mines:</td>
          <td>
            <p-select [options]="minesOptions()" [(ngModel)]="selectedNumberOfMines"/>
          </td>
        </tr>

        <tr>
          <td colspan="2" style="padding-top: 1rem; text-align: center;">
            <p-button (click)="whenStartClick(false)" label="Start" [style]="{ 'margin-right': '1rem' }"/>
            <p-button (click)="whenStartClick(true)" label="Lucky start"/>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  } @else {
    <div class="checkbox-container">
      @if (minesweeper(); as minesweeper) {
        <app-checkbox-grid
          [gridWidth]="minesweeper.Width"
          [maxSize]="minesweeper.Width * minesweeper.Width"
          [locationId]="`0x${minesweeper.SweepLocationId}`"
          (contextClick)="whenRightMouseButtonClick($event)"
          [checkboxStyles]="(checkboxStyles | async) || []"
          [allowCheckUncheck]="allowCheckUncheck"
        >
        </app-checkbox-grid>
      }
    </div>
  }
</div>

<p-dialog header="Minesweeper" [modal]="true" [(visible)]="helpDialogOpen" [dismissableMask]="true" styleClass="help-dialog">
  <p>
    Right-click on a checkbox to flag it. Left-click click to clear it. It you hit a mine you loose.
    On touch-screens you long-press to flag a box. When you check a box, a number will reveal how many adjacent mines the box have.
  </p>

  <p>
    You can share the URL to your game; it's only you who will be able to play. Other people can only watch.
  </p>

  <p>
    There's a lucky start option. This finds and sweeps the biggest flood-fill area automatically to give you a boost.
    Using this option will put your score on a high-score list of it's own.
  </p>

  <p>
    There's actually a chance that you finish the game with a single click!
    It's very low odds; but if it is to happen to you it will be recorded in the "One-click sweepers" high-score list.
    A very prestigious list indeed!
  </p>
</p-dialog>
