<ng-template #headerTemplate>
  <div class="header">
    <div class="flex-container">
      <div>
        <a href="javascript:void(0)" (click)="helpDialog.showModal()"><span class="help-link">?</span></a>
      </div>

      @if (minesweeper(); as minesweeper) {
        @if (minesweeper.EndUtc) {
          @if (minesweeper.Score) {
            <div>You won! Score: {{ minesweeper.Score }}</div>
          } @else {
            <div>Game over!</div>
          }
        } @else {
          <div>
            GAME ON
          </div>
        }
      } @else {
        <div>
          Create a new game to start playing
        </div>
      }
    </div>
  </div>
</ng-template>

<div class="minesweeper-container">
  @if (!minesweeper()) {
    <div class="new-game-container">
      <table>
        <tr>
          <td>Game-size:</td>
          <td>
            <select [(ngModel)]="selectedWidth">
              @for (width of widthOptions; track width; let index = $index) {
                <option value="{{width}}" [selected]="index == 0">{{ width }} x {{ width }}</option>
              }
            </select>
          </td>
        </tr>

        <tr>
          <td>Number of mines:</td>
          <td>
            <select [(ngModel)]="selectedNumberOfMines">
              @for (noMines of minesOptions(); track noMines; let index = $index) {
                <option value="{{noMines}}" [selected]="index == 0">{{ noMines }}</option>
              }
            </select>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <button (click)="whenStartClick(false)" style="margin-right: 1rem">Start</button>
            <button (click)="whenStartClick(true)">Lucky start</button>
          </td>
        </tr>
      </table>
    </div>
  } @else {
    <div class="checkbox-container">
      @if (minesweeper(); as minesweeper) {
        <app-checkbox-grid
          [gridWidth]="minesweeper.Width"
          [maxSize]="minesweeper.Width * minesweeper.Width"
          [locationId]="`0x${minesweeper.SweepLocationId}`"
          (contextClick)="whenRightMouseButtonClick($event)"
          [checkboxStyles]="(checkboxStyles | async) || []"
        >
        </app-checkbox-grid>
      }
    </div>
  }
</div>

<dialog #helpDialog id="help-dialog" (click)="whenDialogClick($event, helpDialog)">
  <div class="help-dialog-content">
    <h3>Minesweeper</h3>
    <p>
      Right-click on a checkbox to flag it. Left-click click to clear it. It you hit a mine you loose.
      On touch-screens you long-press to flag a box. Numbers show how many adjacent mines the box have.
    </p>
    <p>
      You can share the URL to your game; it's only you who will be able to play. Other people can only watch.
    </p>
  </div>
</dialog>
