<button class="hamburger-button" (click)="op.toggle($event)" aria-label="User menu">
  <span class="hamburger-line"></span>
  <span class="hamburger-line"></span>
  <span class="hamburger-line"></span>
</button>

<p-popover #op styleClass="user-popup">
  @if (op.overlayVisible) {
    <app-accordion>
      <app-accordion-panel title="Navigation">
        <nav>
          <div>
            <h4><a (click)="op.hide()" routerLink="/Checkboxes">Checkboxes</a></h4>
            <p>How many checkboxes can you check?</p>
          </div>

          <div>
            <h4><a (click)="op.hide()" routerLink="/War">WAR</a></h4>
            <p>A game where you fight to check or uncheck all boxes on a map of defined size.</p>
          </div>

          <div>
            <h4><a (click)="op.hide()" routerLink="/Minesweeper">Minesweeper</a></h4>
            <p>Find all the mines or die trying.</p>
          </div>

          <div>
            <h4><a (click)="op.hide()" routerLink="/LightsOut">Lights out</a></h4>
            <p>Uncheck all the boxes.</p>
          </div>

          <div>
            <h4><a (click)="op.hide()" routerLink="/About">About this site</a></h4>
            <p>Information about this site</p>
          </div>
        </nav>
      </app-accordion-panel>

      <app-accordion-panel title="Highscore">
        <div class="top10-container">
          <app-top10-highscore></app-top10-highscore>
        </div>
      </app-accordion-panel>

      <app-accordion-panel title="User details">
        @if (localUser(); as localUser) {
          <p>
            The account-details are used to track your progress. It will be lost if you clear the browser cache.
            If you want to use it in another browser, save it somewhere so you can copy-paste it there.
          </p>

          <p>
            Your username can be displayed to other users.
          </p>

          <div style="display: flex">
            <p-floatlabel variant="on">
              <input pInputText id="userName" [(ngModel)]="localUser.userName" autocomplete="off"/>
              <label for="on_label">Username</label>
            </p-floatlabel>

            <p-floatlabel variant="on">
              <p-password id="userId" [(ngModel)]="localUser.userId" autocomplete="off" [feedback]="false" [toggleMask]="true"/>
              <label for="in_label">User Id</label>
            </p-floatlabel>
          </div>
          <p>
            <p-button (click)="whenSaveButtonClick()" label="Save and reload page"/>
          </p>
        } @else {
          <p>You are not logged in.</p>
        }
      </app-accordion-panel>
    </app-accordion>
  }
</p-popover>
