<div class="top10-container">
  <table class="highscore-table">
    <colgroup>
      <col style="width: auto">
      <col style="width: 7rem">
    </colgroup>
    @if (highscore(); as highscore) {
      @for (score of highscore.scores | limit: 10; track score) {
        <tr>
          <td>{{ score.username }}</td>
          <td>
            <ng-container *ngTemplateOutlet="scoreTemplate || defaultTemplate; context: { $implicit: score }"></ng-container>
            <ng-template #defaultTemplate>
              {{ score.score }}
            </ng-template>
          </td>
        </tr>
      }
    } @else {
      <tr>
        <td colspan="2" style="text-align: left">Loading highscores...</td>
      </tr>
    }
  </table>
</div>
